body {
    /*background-color: white;*/
    text-align: center;
    font-family: 'Karla', sans-serif;
}
.background {
    background: linear-gradient(to top right, #00AAE4, #00BF76);
    color: white;
}

.welcome {
    text-align: left;
}
.main {
    text-align: center;
}
form {
    text-align:center;
}
h2 {
    text-align: left;
}

h4 {
   text-align: left; 
}

h5 {
    text-align: center;
    font-size: 20px;
}

/*------------------------STOPWATCHES------------------------------*/

.timer {
    text-align: center;
    vertical-align: middle;
    /*font-size: 72px;*/
    
    color: #00B5B1;
}
#timerMain {
    font-size: 80px;
    font-weight: 700;
    background: -webkit-linear-gradient(#00AAE4, #00BF76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.times {
    font-size: 60px;
    font-weight: 600;
    background: -webkit-linear-gradient(#00AAE4, #00BF76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.watch {
    color: #00B5B1;
    font-size: 72px;
    font-weight: 600;
}

ol {
    text-align: center;
    font-size: 26px;
    background: -webkit-linear-gradient(#00AAE4, #00BF76);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.events {
    vertical-align: middle;
}

#submit {
    text-align: right;
}

.center {
    text-align: center;
}

.form {
    text-align: left;
}

.lanes {
    padding: 50px;
    font-size: 18px;
    color: #00AAE4;
    text-align: left;
}

/*-----------------------SAVE TIMES--------------------*/

.save {
    display: none;
}

/*-------------------------BUTTONS-------------------------*/

.btn-success {
    color: white;
    background: linear-gradient(to top right, #00AAE4, #00BF76);
    border-color: grey;
}
.btn-success:active {
    color: white;
    background: linear-gradient(to top right, #00AAE4, #00BF76);
    border-color: grey;
}
.btn-warning {
    color: white;
    background: linear-gradient(to top right, #FF006E, #FF3B0F);
    border-color: grey;
}
.btn-warning:active {
    color: white;
    background: linear-gradient(to top right, #FF006E, #FF3B0F);
    border-color: grey;
}
.btn-info {
    color: white;
    background: linear-gradient(to top right, #663399, #6A5ACD);
    border-color: grey;
}
.btn-info:active {
    color: white;
    background: linear-gradient(to top right, #663399, #6A5ACD);
    border-color: grey;
}
.btn-primary {
    color: white;
    background: linear-gradient(to top right, #0000FF, #1E90FF);
    border-color: grey;
}
.btn-primary:active {
    color: white;
    background: linear-gradient(to top right, #0000FF, #1E90FF);
    border-color: grey;
}