body {
    /*background-color: white;*/
    text-align: center;
    font-family: 'Karla', sans-serif;
}

.background {
    background: linear-gradient(to top right, #00AAE4, #00BF76);
    color: white;
}

.welcome {
    text-align: left;
}

.main {
    text-align: center;
}

form {
    text-align: center;
}

h2 {
    text-align: left;
    padding-left: 12px;
}

h4 {
    text-align: left;
}

h5 {
    text-align: center;
    font-size: 20px;
}

/*------------------------STOPWATCHES------------------------------*/

.timer {
    text-align: center;
    vertical-align: middle;
    /*font-size: 72px;*/
    color: #00B5B1;
}

#timerMain {
    font-size: 75px;
    font-weight: 700;
    background: -webkit-linear-gradient(#00AAE4, #00BF76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.times {
    font-size: 60px;
    font-weight: 600;
    background: -webkit-linear-gradient(#00AAE4, #00BF76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.watch {
    color: #00B5B1;
    font-size: 72px;
    font-weight: 600;
}

ol {
    text-align: center;
    font-size: 26px;
    background: -webkit-linear-gradient(#00AAE4, #00BF76);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

.events {
    text-align: center;
}

#submit {
    text-align: right;
}

.center {
    text-align: center;
}

.form {
    text-align: left;
    margin-top: 34px;
}

.lanes {
    padding: 50px;
    font-size: 18px;
    color: #00AAE4;
    text-align: left;
}

/*-----------------------SAVE TIMES--------------------*/

.save {
    display: none;
}

/*-------------------------BUTTONS-------------------------*/

.btn {
    border: 0px;
    border-radius: 2px;
    box-shadow: 0px 0px 25px #d3d3d3;
    color: white;
}

.btn-sm {
    border-radius: 2px;
}

.btn-success {
    background: linear-gradient(to top right, #00AAE4, #00BF76);
}

.btn-success:active {
    background: linear-gradient(to top right, #00AAE4, #00BF76);
}

.btn-warning {
    background: linear-gradient(to top right, #FF006E, #FF3B0F);
}

.btn-warning:active {
    background: linear-gradient(to top right, #FF006E, #FF3B0F);
}

.btn-info {
    background: linear-gradient(to top right, #663399, #6A5ACD);
}

.btn-info:active {
    background: linear-gradient(to top right, #663399, #6A5ACD);
}

.btn-primary {
    background: linear-gradient(to top right, #0000FF, #1E90FF);
}

.btn-primary:active {
    background: linear-gradient(to top right, #0000FF, #1E90FF);
}

.btn-danger {
    background: linear-gradient(to top right, #56ab2f, #a8e063);
}

.btn-danger:active {
    background: linear-gradient(to top right, #56ab2f, #a8e063);
}

/*--------------------VIEW TIMES--------------------*/

.view-times {
    color: #424242;
    text-align: left;
    font-size: 20px;
}

.event {
    font-size: 26px;
}

.heats {
    text-align: left;
    font-size: 22px;
}

#split-render li {
    color: #424242;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    background: #424242;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

hr {
    color: #696969;
    border-top: 1px solid #696969
}

@media (min-width: 768px) {
    .container {
    width: inherit;
}
}
