<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for ('static', filename = 'timericon.ico')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'bootstrap.min.css')}}" type="text/css" />
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'hover-min.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla|Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'style.css')}}" type="text/css" />
    <title>Sports Multi-Timer Assistant</title>
</head>

<body onload='loadModal()'>
    <div class="container">
        <br>
        <h1 class='title'>Timing Assistant</h1>
        <div class="row">
            <div class="welcome">
                <br>
                <br>
                <br>

                <form action="/login" method="POST">
                    <div class="row">
                        <br>
                        <br>
                        <select name="sport" class="form-control input-sm" required>
                            <option value="Swimming">Swimming</option>
                            <option value="Track">Track</option>
                        </select>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="text" class="form-control" name="team" placeholder="Team Name" required/>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="text" class="form-control" name="username" placeholder="Your name" required/>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="text" class="form-control" name="meet" placeholder="Meet Name" required/>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="submit" name="submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--SCREEN ROTATE MODAL-->
        <div class="modal fade" tabindex="-1" role="dialog" id='rotateScreenModal'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style='text-align: right;' aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Get Ready to Time!</h4>
                </div>
                <div class="modal-body">
                    <p class='rotate'>To get started, select your sport, and enter your team name, your name, and the meet name below! </p> 
                    <p class='rotate'>If you want to come back and view your times later, make sure you remember what you've entered!</p>
                    <p class='rotate hidden-md hidden-lg'><strong>Turn your device sideways for a better timing experience!</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success modal-btn" data-dismiss="modal">Got It!</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
// Modal for mobile 
    function loadModal() {
        $("#rotateScreenModal").modal("show");
    }

    </script>
</body>

</html>
