<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'bootstrap.min.css')}}" type="text/css" />
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'hover-min.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla|Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'style.css')}}" type="text/css" />
    <title>Sports Multi-Timer Assistant</title>
</head>

<body>
    <div class="container">
        <br>
        <h1 class='title'>Timing Assistant</h1>
        <div class="row">
            <div class="welcome">
                <br>
                <br>
                <br>

                <form action="/login" method="POST">
                    <div class="row">
                        <br>
                        <br>
                        <select name="sport" class="form-control input-sm">
                                    <option value="Swimming">Swimming</option>
                                    <option value="Track">Track</option>
                                </select>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="text" class="form-control" name="team" placeholder="Team Name" />
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="text" class="form-control" name="username" placeholder="Your name" />
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="text" class="form-control" name="meet" placeholder="Meet Name" />
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <input type="submit" name="submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
