<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'bootstrap.min.css')}}" type="text/css" />
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'hover-min.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla|Nanum+Gothic" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'timers.css')}}" type="text/css" />
    <title> Timing Assistant</title>
</head>

<body onload='loadModal()'>

    <!--TOP HALF-->

    <div class="background">
        <div class="container" style='padding-left: 25px;'>
            <div class="row">
                <h2>Timing Assistant</h2>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <h4>Welcome to {{team}}'s Timing Assistant. You are logged in as {{username}}.</h4>
                    <h4>You are timing for {{sport}}.</h4>
                </div>
            </div>
            <br>
            <div class="main">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-hidden col-sm-3 form">
                            <br>

                            <form action="/{{sport}}/{{team}}/{{username}}/{{meet}}/new" method="POST">
                                <div class="row">


                                    {% if sport == 'Swimming' %}
                                    <select name="event" class="form-control input-sm">
                                        <option value="">Event</option>
            <option value="200 Medley Relay">200 Medley Relay</option>
            <option value="200 Freestyle">200 Freestyle</option>
            <option value="200 Individual Medley">200 Individual Medley</option>
            <option value="50 Freestyle">50 Freestyle</option>
             <option value="100 Butterfly">100 Butterfly</option>
             <option value="100 Freestyle">100 Freestyle</option>
            <option value="500 Freestyle">500 Freestyle</option>
           <option value="200 Freestyle Relay">100 Freestyle Relay</option>
            <option value="100 Backstroke">100 Backstroke</option>
            <option value="100 Breastroke">100 Breastroke</option>
            <option value="400 Freestyle Relay">100 Freestyle Relay</option>
            
            
        </select>
                                    {% endif %}
                                    {% if sport == 'Track' %}
                                    <select name="event" class="form-control input-sm">
                                        <option value="">Event</option>
            <option value="55 Meter Dash">55 Meter Dash</option>
            <option value="55 Meter Hurdles">55 Meter Hurdles</option>
            <option value="4x200 Meter Relay">4x200 Meter Relay</option>
            <option value="300 Meter">300 Meter</option>
             <option value="4x400 Meter Relay">4x400 Meter Relay</option>
             <option value="600 Meter">600 Meter</option>
            <option value="1,000 Meter">1,000 Meter</option>
           <option value="1,600 Meter">1,600 Meter</option>
            <option value="3,200 Meter">3,200 Meter</option>
            
            
            
        </select>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="row">


                                    <select name="heat" class="form-control input-sm">
                                        <option value="">Heat</option>
            <option value='1'>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
                                </div>
                                <br>
                                <input type="hidden" name="meet" id="meet_id" value="{{meet}}">
                                <input type="submit" id='submit' class=' btn-sm btn-default' value="Submit" />
                            </form>
                        </div>
                        
                        <!--TOP HALF - RIGHT SIDE -->
                        
                        <form action="/time" method='POST' id='timer_form'>
                            <div class="col-xs-hidden col-sm-9 events">
                                <br>
                                <br>
                                <br>
                                <h5>{{event}}</h5>
                                <input type="hidden" name="event" id="event_id" value="{{event}}">
                                <br>

                                <h5>{{heat}}</h5>
                                <input type="hidden" name="heat" id="heat_id" value="{{heat}}">
                                <input type="hidden" name="team" id="team_id" value="{{team}}">
                                <input type="hidden" name="username" id="username_id" value="{{username}}">
                                <br>

                            </div>


                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    <!--BOTTOM HALF-->

    <div class="container">
        <br>
        <input type="hidden" name="meet" id="meet_id" value="{{meet}}">
        
<!-----------------STOPWATCHES------------>

        <div class="timer">

            <h1><time id='timerMain'>00:00.00</time></h1>
            <input type="button" value="START" id="moveAllBtn" class="btn btn-success" />
            <input type='button' value='RESET' id="resetAllBtn" class="btn btn-info" />
            <div class="container">
                <div class="row">
                    <div class="col-xs-hidden col-sm-4 col-md-4 watch">
                        <br>
                        <h3 id='timerNumber1' class="LN1 times">00:00.00</h4>
                            <h4>
                                <div id="splitNumber1"> </div>
                            </h4>

                            <input type="button" value="START" id="start1" class="btn btn-success">
                            <input type="button" value="SPLIT" id="split1" class="btn btn-warning">
                            <input type="button" value="RESET" id="reset1" class="btn btn-info">
                            <br>
                            <div class="row lanes">
                                <p>Lane Number: </p>

                                <select id="lanes1" class="form-control input-sm">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

                            </div>
                    </div>

                    <div class="col-xs-hidden col-sm-4 col-md-4 watch">
                        <br>
                        <h3 id="timerNumber2" class='times'>00:00.00</h3>
                        <h4>
                            <div id='splitNumber2'> </div>
                        </h4>

                        <input type="button" value="START" id="start2" class="btn btn-success">
                        <input type="button" value="SPLIT" id="split2" class="btn btn-warning">
                        <input type="button" value="RESET" id="reset2" class="btn btn-info">
                        <br>
                        <div class="row lanes">
                            <p>Lane Number: </p>

                            <select id="lanes2" class="form-control input-sm">
            <option value="1">1</option>
            <option value="2" selected="selected">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

                        </div>
                    </div>
                    <div class="col-xs-hidden col-sm-4 col-md-4 watch">
                        <br>
                        <h3 id="timerNumber3" class='times'>00:00.00</h3>
                        <h4>
                            <div id='splitNumber3'> </div>
                        </h4>

                        <input type="button" value="START" id="start3" class="btn btn-success">
                        <input type="button" value="SPLIT" id="split3" class="btn btn-warning">
                        <input type="button" value="RESET" id="reset3" class="btn btn-info">
                        <br>
                        <div class="row lanes">
                            <p>Lane Number: </p>

                            <select id="lanes3" class="form-control input-sm">
            <option value="1" >1</option>
            <option value="2">2</option>
            <option value="3" selected="selected">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

                        </div>
                    </div>
                </div>
                <br>
                
                
            </div>

        </div>
        <br>

        <div class="container">
            <div class="row">
            <div class="col-xs-6 col-sm-6">
                <button type="submit" id='saveTimes' name='time' class="btn btn-primary">Save Times</button>
                </form>
            <h4 id="saveNotice" class="save">Your times have been saved!</h4>
        </div>
        
        <div class="col-xs-6 col-sm-6">
            <form action="/{{sport}}/{{team}}/{{username}}/{{meet}}/view" method="POST">
                <input type="hidden" name="team" id="team_id" value="{{team}}">
                <input type="hidden" name="username" id="username_id" value="{{username}}">
                <input type="hidden" name="meet" id="meet_id" value="{{meet}}">
                <input type="hidden" name="heat" id="heat_id" value="{{heat}}">
                <input type="hidden" name="event" id="event_id" value="{{event}}">
                <button type="submit" class="btn btn-danger">View Times</button>
            </form>
            </div>
            </div>
            </div>
            
  <!--------------VIEW TIMES-------------->
            
            <div class="container">
            <div class="view-times">
                
                <br>
               
                <h3><strong>{{meets}}</strong></h3>
                
                
                {%- for time in show_times recursive %}
                {% if time.team == team %}
                {% if time.username == username %}
                {% if time.meet == meets %}
                
                <h4 class = 'event'><strong>{{ time.event }}</strong></h4>
                <h5 class = 'heats'>{{ time.heat }}</h5>
                <br>
                <div class="container">
                    <div class="row">
                {%- if time.lanes -%} 
                {%- for lane in time.lanes %}
                
                        <div class="col-xs-hidden col-sm-4">
                <p><strong>Lane: {{ lane }}</strong></p> 
                <ul>
                <p><strong>Final:  {{ time.lanes[lane].final }}</strong></p>
                
                <p>Splits:</p>
                <div id='split-render'>
                <ol>
                {%- for t in time.lanes[lane].splits %} 
                <li>{{ t }}</li>
                
                {%- endfor %}
                </ol>
                </div>
                </ul>
                <br>
                </div>
                
                {%- endfor %} 
                
                {%- endif %}
                </div>
                </div>
                <hr>
                {% endif %}
                {% endif %}
                {% endif %}
                {%- endfor %}




            </div>
        </div>
    <!--SCREEN ROTATE MODAL-->
        <div class="modal fade hidden-md hidden-lg" tabindex="-1" role="dialog" id='rotateScreenModal'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style='text-align: right;' aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Get Ready to Time!</h4>
                </div>
                <div class="modal-body">
                    <p class='rotate'><strong>Turn your device sideways for a better timing experience!</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success modal-btn" data-dismiss="modal">Got It!</button>
                </div>
            </div>
        </div>
    </div>
    </div>



    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script src="{{url_for('static', filename='stopwatch.js')}}"></script>

</body>

</html>
